<settings>
  <profiles>
    <profile>
      <id>bankmonitor-bm-apis</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>bankmonitor-bm-apis</id>
          <url>https://${AWS_CODEARTIFACT_DOMAIN}-${AWS_CODEARTIFACT_DOMAIN_OWNER}.d.codeartifact.${AWS_CODEARTIFACT_REGION}.amazonaws.com/maven/${AWS_CODEARTIFACT_REPOSITORY}/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>bankmonitor-bm-apis</id>
      <username>aws</username>
      <password>${AWS_CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>
</settings>