@bankmonitor:registry=https://${AWS_CODEARTIFACT_DOMAIN}-${AWS_CODEARTIFACT_DOMAIN_OWNER}.d.codeartifact.${AWS_CODEARTIFACT_REGION}.amazonaws.com/npm/${AWS_CODEARTIFACT_REPOSITORY}/
//${AWS_CODEARTIFACT_DOMAIN}-${AWS_CODEARTIFACT_DOMAIN_OWNER}.d.codeartifact.${AWS_CODEARTIFACT_REGION}.amazonaws.com/npm/${AWS_CODEARTIFACT_REPOSITORY}/:always-auth=true
//${AWS_CODEARTIFACT_DOMAIN}-${AWS_CODEARTIFACT_DOMAIN_OWNER}.d.codeartifact.${AWS_CODEARTIFACT_REGION}.amazonaws.com/npm/${AWS_CODEARTIFACT_REPOSITORY}/:_authToken=${AWS_CODEARTIFACT_AUTH_TOKEN}