{
    "name": "@bankmonitor/${API_NPM_NAME}",
    "version": "${API_NPM_VERSION}",
    "files": [
        "openapi",
        "openapi-ts",
        "${API_FILEPATH}"
    ],
    "scripts": {
        "gen:openapi-java": "dotenv cross-var openapi-generator-cli generate -i ${API_FILEPATH} -g typescript-fetch -o ./openapi --additional-properties=supportsES6=true,withInterfaces=true",
        "gen:openapi-ts": "dotenv cross-var openapi-typescript ${API_FILEPATH} -o ./openapi-ts/index.ts",
        "gen": "dotenv cross-var npm run gen:openapi-java && npm run gen:openapi-ts"
    },
    "devDependencies": {
        "@openapitools/openapi-generator-cli": "^2.7.0",
        "openapi-typescript": "^6.7.3"
    },
    "dependencies": {
        "openapi-fetch": "^0.8.2",
        "tsc": "^2.0.4",
        "typescript": "^5.3.3"
    }
}
